{% extends 'base.html.twig' %}


{% block body %}
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Behandeling</th>
                <th scope="col">Prijs</th>
                <th scope="col">Aantal</th>

            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>{{ Kapper.name }}</td>
                <td>{{ Kapper.price}}</td>
                <td>{{ Kapper.amount }}</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td colspan="2"></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}